.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.name{
    font-size: 2.5rem;
    margin: 20px auto;
}
.fotoPerfil{
    position: absolute;
    border-radius: 5%;
    width: 25vw;
    top: 25vh;
    left: 8vw;
    filter: grayscale(100%);
}
.personal_descr{
    position: absolute;
    width: 50vw;
    height: 70%;
    top: 25vh;
    left: 40vw;
    border-right: 2px solid rgb(6, 252, 252);
    border-bottom: 2px solid rgb(6, 252, 252);
    font-size: 1.2rem;
}
.tool{
    padding: 0 10px;
    font-size: 1.2rem;
}
.about_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding-left: 10px;
}

@media (max-wisth:950px) {
    
}

@media (max-width:500px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .name{
        font-size: 2rem;
    }
    .fotoPerfil{
        position: static;
        width: 35vw;
        margin: auto;
    }
    .personal_descr{
        position: static;
        width: 80vw;
        margin: auto;
    }
}
