.menu{
    background-color: rgb(0, 0, 0);
    height: 10vh;
    border-bottom: 2px solid rgb(6, 252, 252);
    box-shadow: 0 5px 15px rgb(6, 252, 252), 0 0 30px white ;
    transition: 1s;
    overflow: hidden;
}
.deployed_menu{
    height: 10vh;
}
.ul_menu{
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.li_menu{
    list-style: none;
    line-height: 10vh;
}
.logo{
    height: 10vh;
}
.item{
    display: block;
    padding: 0 .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: 0.8s;
}
.active{
    font-size: 1.7rem;
    background-color: rgba(6, 252, 252, 0.8);
    color: black;
}
.icon_menu{
    display: none;
    list-style: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8vh;
    height: 8vh;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
@media (max-width:500px){
    .deployed_menu{
        height: 25vh;
    }
    .ul_menu{
        flex-direction: column;
        gap: 1px;
    }
    .li_menu{
        line-height: 4vh;
    }
    .item{
        display: block;
        width: 90%;
        margin: auto;
        transition: 0s;
    }
    .icon_menu{
        display: block;
    }
    .active{
        color: white;
        background-color: rgb(0, 0, 0);
        border: none;
        border-bottom: 3px solid rgba(6, 252, 252);
    }
    
}
