main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content{
    margin: 4vh auto;
    width: 25vw;
    padding: 1%;
    border: 2px solid rgb(6, 252, 252);
    text-decoration: none;
    background-color: black;
    box-shadow: 0 0 1px rgb(6, 252, 252), 0 0 10px white;
    transition: all 1s;
}
.content:hover{
    width: 28vw;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.preview{
    width: 100%;
    transition: 1s;
}
.project_descr{
    font-size: 1.3rem;
    text-align: justify;
}
.list{
    display: flex;
    column-gap: 5px;
    list-style: none;
    padding: 0;
}
.github{
    display: block;
    font-size: 1.2rem;
    padding-top: 5px;
}


@media (max-width:900px){
    .content{
        margin: 5vh 2vw;
        width: 40vw;
    } 
    .content:hover{
        width: 45vw;
    }
}
@media (max-width:500px){
    main{
        display: flex;
        flex-direction: column;
    }
    .content{
        width: 90vw;
    }
    .content:hover{
        width: 90vw;
    }
}
